html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  color: #000000;
  font-size: 18px;
  background-color: #ededed;
}

button {
  position: absolute;
  right: 0;
  margin: 30px;
  background-color: #9fbbce;
  color: #3d4c56;
  height: 80px;
  width: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: 16px;
}

#captureImg {
  top: 120px;
  width: 80px;
}

#myCanvas {
  display: none;
}

#myVideo {
  position: absolute;
  margin: 30px;
  z-index: 10;
  left: 0;
}

#showImg {
  position: absolute;
  margin: 30px;
  z-index: 100;
  width: 600px;
  left: 0;
}
