#infoBar {
  font-size: 12px;
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  padding: 10px;
  top: 0;
  height: 100px;
  background-color: rgba(0, 0, 255, 0.75);
  color: black;
  z-index: 99999 !important;

}

#allMsgs div p {
  margin: 3px 10px 20px 0px;
}

#allMsgs div b {
  margin: 0px;
  padding: 0px;
}
